<table>
    <tr><td colspan="4"><h3><b>{{ venta.empleado.local }}</b></h3></td></tr>
    <tr><td colspan="4">{{ venta.empleado.local.direccion }}</td></tr>
    <tr><td colspan="4"><center>Tel: {{ venta.empleado.local.telefono }}</center></td></tr>
    <tr><td colspan="4"><center>RUC : {{ venta.empleado.local.empresa.ruc }}</center></td></tr>

    <tr><td>TICKET:</td><td>WEDFGDFGDFG</td><td>FECHA:</td><td>16/02/2018</td></tr>
    <tr><td>CLIENTE:</td><td></td><td colspan="2"></td></tr>
    <tr><td colspan="4"></td></tr>
    <tr><td colspan="4"></td></tr>

</table>



