{% extends 'base.html.twig' %}

{% block stylesheets %}

  {{ parent() }}
    
  <link rel="stylesheet" type="text/css" href="https://pivottable.js.org/dist/pivot.css">

  <style>

    #container{
      font-size:2.5rem;
    }


  </style>

{% endblock %}

{% block body %}

    <div id="output" style="margin: 30px;overflow:scroll;height:500px;"></div>

{% endblock %}
{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" ></script>
    <script type="text/javascript" src="https://pivottable.js.org/dist/pivot.js" ></script>
    <script type="text/javascript" src="https://pivottable.js.org/dist/export_renderers.js" ></script>

    <script type="text/javascript">


        $(function(){

            var tpl = $.pivotUtilities.aggregatorTemplates;
            var renderers = $.extend($.pivotUtilities.renderers,$.pivotUtilities.export_renderers);

            $("#output").pivotUI({{ventas | raw }},         
                {
                    renderers: renderers,
                    unusedAttrsVertical : true,
                    rows: ["Ano","Mes","Local","Fecha","Documento","Cliente","Ticket"],cols: ["Producto"],
                    //rendererName: "TSV Export",
                    aggregators: {
                        "Cantidad": function() { return tpl.sum()(["Cantidad"]) },
                        "Subtotal": function() { return tpl.sum()(["Subtotal"]) },
                        "Precio Costo": function() { return tpl.sum()(["Precio_costo"]) },
                        "Ganancia": function() { return tpl.sum()(["Ganancia"]) },
                    },
                    sorters: {
                        Mes: $.pivotUtilities.sortAs(
                                ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Setiembre","Octubre","Noviembre","Diciembre"]),
                        //Local: $.pivotUtilities.sortAs(["INGRESOS","EGRESOS"]),
                        //Age: function(a,b){ return b-a; } //sort backwards
                    }                                       
                }
            );
         });


    </script>

{% endblock %}