<tr class="items">
    <td>{{ form_widget(form.tipoDocumento) }}</td>
    <td>{{ form_widget(form.numeroDocumento) }}</td>
    <td>{{ form_widget(form.monto) }}</td>
    <td>{{ form_widget(form.cajaCuentaBanco) }}</td>
    <td><a href="#" class="btn btn-danger remove-item" ><i class="fa fa-trash"></i></a></td>
</tr>